name: subtle_backgrounds
description: A collection of subtle background patterns.
version: 0.0.1
publish_to: "none"

environment:
  sdk: ">=3.1.3 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

flutter:
  assets:
    - assets/images/
